{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>articles</th>
            <th>quantité</th>
            <th>prix unitaire</th>
            <th>prix total</th>
        </tr>
        <thead>
        <tbody id="zone">



        </tbody>
        <tfoot><tr><td id="bas" colspan="3"></td><td><span id="total">0</span>€</td></tr></tfoot>
        <table/>
        <hr>
        <form action="finalisation.php" method="post">
            <input type="hidden" name="liste" id="liste">
            <input type="submit" value="Valider ma commande.">
        </form>
        <hr>

        <script src="scriptpanier.js"></script>
{% endblock %}
