{% extends 'base.html.twig' %}

{% block title %}Les théâtres {% endblock %}

{% block body %}
    <style>
        .carte:hover {
            box-shadow: 10px 10px 0px 0px #9747FF,10px 10px 0px 2.5px black;
            transform: translateX(-10px);
            transition: 500ms;
        }
        .img {
            background-color: grey;
            background-image: url("{{ asset('Image/gospel.jpeg') }}");
            background-size: cover;
            margin: auto;
            width: 94%;
            height: 68%;
        }
        #theatre {
            background-color: #9747FF;
            padding: 23px;
        }
        #theatre a{
            color: #fff;
        }
    </style>
    <div id="titre">
        <h2>Théâtres</h2>
    </div>
    <div id="manifs">
        <div class="carte">
            <div class="img">

            </div>
            <div class="texte">
                <h4>AIMÉE – LA TOURNÉE</h4>
                <p>artiste</p>
                <p>artiste</p>
                <p>artiste</p>
            </div>
            <button>Réserver</button>
        </div>
        <div class="carte">
            <div class="img">

            </div>
            <div class="texte">
                <h4>AIMÉE – LA TOURNÉE</h4>
                <p>artiste</p>
                <p>artiste</p>
                <p>artiste</p>
            </div>
            <button>Réserver</button>
        </div>
        <div class="carte">
            <div class="img">

            </div>
            <div class="texte">
                <h4>AIMÉE – LA TOURNÉE</h4>
                <p>artiste</p>
                <p>artiste</p>
                <p>artiste</p>
            </div>
            <button>Réserver</button>
        </div>
        <div class="carte">
            <div class="img">

            </div>
            <div class="texte">
                <h4>AIMÉE – LA TOURNÉE</h4>
                <p>artiste</p>
                <p>artiste</p>
                <p>artiste</p>
            </div>
            <button>Réserver</button>
        </div>
        <div class="carte">
            <div class="img">

            </div>
            <div class="texte">
                <h4>AIMÉE – LA TOURNÉE</h4>
                <p>artiste</p>
                <p>artiste</p>
                <p>artiste</p>
            </div>
            <button>Réserver</button>
        </div>
        <div class="carte">
            <div class="img">

            </div>
            <div class="texte">
                <h4>AIMÉE – LA TOURNÉE</h4>
                <p>artiste</p>
                <p>artiste</p>
                <p>artiste</p>
            </div>
            <button>Réserver</button>
        </div>
        <div class="carte">
            <div class="img">

            </div>
            <div class="texte">
                <h4>AIMÉE – LA TOURNÉE</h4>
                <p>artiste</p>
                <p>artiste</p>
                <p>artiste</p>
            </div>
            <button>Réserver</button>
        </div>
        <div class="carte">
            <div class="img">

            </div>
            <div class="texte">
                <h4>AIMÉE – LA TOURNÉE</h4>
                <p>artiste</p>
                <p>artiste</p>
                <p>artiste</p>
            </div>
            <button>Réserver</button>
        </div>
        <div class="carte">
            <div class="img">

            </div>
            <div class="texte">
                <h4>AIMÉE – LA TOURNÉE</h4>
                <p>artiste</p>
                <p>artiste</p>
                <p>artiste</p>
            </div>
            <button>Réserver</button>
        </div>
    </div>
{% endblock %}
