{% extends 'base.html.twig' %}

{% block title %}Les concerts{% endblock %}

{% block body %}
<style>
    .carte {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
        width: 17vw;
        height: 50vh;
        border: solid black 2px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .carte button{
        margin: 10px 0;
        width: 90%;
        margin: auto;
        border: solid #343434 2px;
        background-color: transparent;
        cursor: pointer;
        padding: 5px;
    }
    .carte button:hover{
        background-color: #343434;
        color: #fff;
    }
    .img {
        background-color: grey;
        margin: auto;
        width: 90%;
        height: 65%;
    }
</style>

<div class="carte">
    <div class="img">

    </div>
    <h4>AIMÉE – LA TOURNÉE</h4>
    <p>artiste</p>
    <p>artiste</p>
    <p>artiste</p>
    <button>Réserver</button>
</div>
{% endblock %}
