{% extends 'base.html.twig' %}

{% block title %}Les concerts{% endblock %}

{% block body %}
<style>
    .carte:hover {
        box-shadow: 10px 10px 0px 0px #3FFFBA,10px 10px 0px 2.5px black;
        transform: translateX(-10px);
        transition: 500ms;
    }
    .img {
        background-color: grey;
        background-image: url("{{ asset('Image/gospel.jpeg') }}");
        background-size: cover;
        margin: auto;
        width: 94%;
        height: 68%;
    }
    #concert {
        background-color: #3FFFBA;
        padding: 23px;
    }
    #concert a{
        color: #fff;
    }
</style>
    <div id="titre">
        <h2>Concerts</h2>
    </div>
<div id="manifs">
    <div class="carte">
        <div class="img">

        </div>
        <div class="texte">
            <h4>AIMÉE – LA TOURNÉE</h4>
            <p>artiste</p>
            <p>artiste</p>
            <p>artiste</p>
        </div>
        <button>Réserver</button>
    </div>
    <div class="carte">
        <div class="img">

        </div>
        <div class="texte">
            <h4>AIMÉE – LA TOURNÉE</h4>
            <p>artiste</p>
            <p>artiste</p>
            <p>artiste</p>
        </div>
        <button>Réserver</button>
    </div>
    <div class="carte">
        <div class="img">

        </div>
        <div class="texte">
            <h4>AIMÉE – LA TOURNÉE</h4>
            <p>artiste</p>
            <p>artiste</p>
            <p>artiste</p>
        </div>
        <button>Réserver</button>
    </div>
    <div class="carte">
        <div class="img">

        </div>
        <div class="texte">
            <h4>AIMÉE – LA TOURNÉE</h4>
            <p>artiste</p>
            <p>artiste</p>
            <p>artiste</p>
        </div>
        <button>Réserver</button>
    </div>
    <div class="carte">
        <div class="img">

        </div>
        <div class="texte">
            <h4>AIMÉE – LA TOURNÉE</h4>
            <p>artiste</p>
            <p>artiste</p>
            <p>artiste</p>
        </div>
        <button>Réserver</button>
    </div>
    <div class="carte">
        <div class="img">

        </div>
        <div class="texte">
            <h4>AIMÉE – LA TOURNÉE</h4>
            <p>artiste</p>
            <p>artiste</p>
            <p>artiste</p>
        </div>
        <button>Réserver</button>
    </div>
    <div class="carte">
        <div class="img">

        </div>
        <div class="texte">
            <h4>AIMÉE – LA TOURNÉE</h4>
            <p>artiste</p>
            <p>artiste</p>
            <p>artiste</p>
        </div>
        <button>Réserver</button>
    </div>
    <div class="carte">
        <div class="img">

        </div>
        <div class="texte">
            <h4>AIMÉE – LA TOURNÉE</h4>
            <p>artiste</p>
            <p>artiste</p>
            <p>artiste</p>
        </div>
        <button>Réserver</button>
    </div>
    <div class="carte">
        <div class="img">

        </div>
        <div class="texte">
            <h4>AIMÉE – LA TOURNÉE</h4>
            <p>artiste</p>
            <p>artiste</p>
            <p>artiste</p>
        </div>
        <button>Réserver</button>
    </div>
</div>
{% endblock %}
