<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Aide</h4>
                <ul>
                    <li><a href="{{ asset("privacy_policy.html") }}">Politique de confidentialité</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Acheter des billets</h4>
                <ul>
                    <li><a href="#">Évênements</a></li>
                    <li><a href="#">Lieux</a></li>
                    <li><a href="#">Connexion</a></li>
                    <li><a href="#">Inscription</a></li>
                </ul>
            </div>
            <img src="{{ asset("Image/logo.png") }}" alt="">
        </div>
    </div>
</footer>