<nav>
    <div class="logo">
        <a href="accueil"><img src="{{ asset('Image/logo.png') }}"/></a>
    </div>
    <div class="toggle">
        <i class="fas fa-bars ouvrir"></i>
        <i class="fas fa-times fermer"></i>
    </div>
    <div class="menu-container">
        <div class="search-bar">
            <img src="{{ asset('Image/assets/search.png') }}" alt="search-icon">
            <input type="text" placeholder="Rechercher...">
        </div>
        <div class="menu">
            <div id="theatre"><a href="theatre">Théâtre</a></div>
            {% if is_granted("ROLE_ADMIN") %}
                <div><a href="admin"><i class="fa-solid fa-lock"></i></a></div>
            {% endif %}

<<<<<<< HEAD
=======
<<<<<<< Updated upstream
            {% if app.user %}
                <div><a href="logout">Déconnexion</a></div>
            {% else %}
                <div id="border"><a href="login"><i class="fa-solid fa-circle-user"></i>   Connexion / </a>
                    <a href="register">Inscription</a></div>
            {% endif %}
            <div><a href="panier"><i class="fa-solid fa-cart-shopping"></i> Panier</a></div>
        </div>
=======
>>>>>>> parent of 744d749 (update)
    {% if app.user %}
        <div><a href="logout">Déconnexion</a></div>
    {% else %}
        <div id="border"><a href="login"><i class="fa-solid fa-circle-user"></i>   Connexion / </a>
            <a href="register">Inscription</a></div>
    {% endif %}
<<<<<<< HEAD
            <div><a href="panier"><i class="fa-solid fa-cart-shopping"></i> Panier</a></div>
=======
            <div><a href="panier"><i class="fa-solid fa-cart-shopping"></i> Panier <span id='panier'>0</span></a></div>
>>>>>>> Stashed changes
>>>>>>> parent of 744d749 (update)
    </div>
</nav>
<script>
    let toggle = document.querySelector('.toggle');
    let body = document.querySelector('body');

    toggle.addEventListener('click', function() {
        body.classList.toggle('open');
    })
</script>